@model IEnumerable<MOBILUX.ViewModels.CartItem>
@{
    ViewData["Title"] = "Giỏ hàng";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="active">Giỏ Hàng</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản Phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số Lượng</td>
                        <td class="total">Giảm Giá</td>
                        <td class="total">Thành Tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                                <tr>
                                    <td class="cart_product">
                                        <a href="">
                                            <img src="~/images/Phone/@item.Hinh" alt="" width="100" height="100">
                                        </a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.TenSp</a></h4>

                                    </td>
                                    <td class="cart_price">
                                        <p>@item.DonGia.ToString("#,##0") VND</p>
                                    </td>

                                    <td>
                                        <div class="input-group quantity mt-4" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <a asp-action="Giam" asp-controller="Cart" asp-route-id="@item.MaSp" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                    <i class="fa fa-minus"></i>
                                                </a>

                                            </div>
                                            <input type="text" class="form-control form-control-sm text-center border-0" value="@item.SoLuong " name="quantity">
                                            <div class="input-group-btn">
                                                <a asp-action="Tang" asp-controller="Cart" asp-route-id="@item.MaSp" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.GiamGia.ToString("#,##0") VND</p>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@item.ThanhTien.ToString("#,##0") VND</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.MaSp"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                    }
                </tbody>
            </table>
            <div class="cart_summary" style="margin-top: 20px; text-align: right; padding-right: 30px;">
                @{
                    var tongTien = Model.Sum(item => item.ThanhTien);
                }
                <h3>Tổng tiền: <strong>@tongTien.ToString("#,##0") VND</strong></h3>
                <a asp-action="Checkout" asp-Controller="Cart" class="btn btn-success" style="margin-top: 10px;"><h4>Tạo Đơn Hàng</h4></a>
            </div>



        </div>
    </div>
</section> <!--/#cart_items-->
